<div class="container">
    <form #checkoutForm="ngForm">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
                <input
                type="text"
                pInputText
                placeholder="Ciudad"
                [(ngModel)]="model.CIUDADID"
                required
                name="CIUDADID"
                #store="ngModel">         
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-arrow-up-right"></i></span>
                <input
                type="number"
                pInputText placeholder="CP"
                [(ngModel)]="model.CP"
                required
                name="CP"
                #store="ngModel">         
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-circle-fill"></i></span>
                <input
                type="text"
                pInputText
                placeholder="Provincia"
                [(ngModel)]="model.PROVINCIA"
                required
                name="PROVINCIA"
                #store="ngModel">  
            </div>
    </form>

    <div class="container__button">
        <p-button
        label="Click"
        [disabled]="!checkoutForm.form.valid"
        (click)="createCity()">
    </p-button>
    </div>

</div>